.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkoutproduct--info{
    padding-left: 20px;
}

.checkoutproduct--info > button{
    background: #f1c14b;
    border: 1px solid;
    margin-top: 10px;
    color: #111;
}

.checkoutproduct--image{
    height:180px;
    width: 180px !important;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit:contain;
}

.checkoutproduct--rating{
    display: flex;
    font-size: 1.5vw;
}

.checkoutproduct--title,.chekoutproduct--price{
    font-size: 1.5vw;
}

